accelerate==0.20.3
appdirs==1.4.4
asttokens==2.0.8
backcall==0.2.0
blis @ file:///croot/cython-blis_1684139855568/work
boltons @ file:///croot/boltons_1677628692245/work
Bottleneck @ file:///opt/conda/conda-bld/bottleneck_1657175564434/work
brotlipy==0.7.0
catalogue @ file:///opt/conda/conda-bld/catalogue_1651218742349/work
certifi @ file:///croot/certifi_1683875369620/work/certifi
cffi @ file:///croot/cffi_1670423208954/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cli-helpers==2.2.1
click @ file:///tmp/build/80754af9/click_1646056590078/work
colorama @ file:///croot/colorama_1672386526460/work
conda==23.3.1
conda-package-handling @ file:///croot/conda-package-handling_1685024767917/work
conda_package_streaming @ file:///croot/conda-package-streaming_1685019673878/work
confection @ file:///croot/confection_1684136476534/work
contourpy @ file:///opt/conda/conda-bld/contourpy_1663827406301/work
cryptography @ file:///croot/cryptography_1686613057838/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cymem @ file:///opt/conda/conda-bld/cymem_1651237256138/work
debugpy==1.6.3
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
dgl==1.1.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.5.0/en_core_web_lg-3.5.0-py3-none-any.whl
executing==1.0.0
filelock @ file:///croot/filelock_1672387128942/work
# -e git+https://github.com/djtom98/BSE_Thesis.git@11d9f052812ece4246cca7b335bf2f426807cc9e#egg=finEC
fonttools==4.25.0
fsspec==2023.6.0
fst-pso @ file:///home/conda/feedstock_root/build_artifacts/fst-pso_1674508369029/work
funcy @ file:///home/conda/feedstock_root/build_artifacts/funcy_1680003215408/work
future @ file:///croot/future_1677599870788/work
FuzzyTM @ file:///home/conda/feedstock_root/build_artifacts/fuzzytm_1674510610147/work
fuzzywuzzy @ file:///opt/conda/conda-bld/fuzzywuzzy_1650548198331/work
gensim @ file:///croot/gensim_1674852436045/work
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645438755360/work
huggingface-hub==0.15.1
idna @ file:///croot/idna_1666125576474/work
importlib-resources @ file:///tmp/build/80754af9/importlib_resources_1625135880749/work
ipykernel==6.15.2
ipython==8.5.0
jedi==0.18.1
Jinja2 @ file:///croot/jinja2_1666908132255/work
joblib @ file:///croot/joblib_1685113087166/work
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
jupyter-core==4.11.1
jupyter_client==7.3.5
keras @ file:///home/builder/mesters/opt/envs/tensorflow/conda-bld/keras_1678126437030/work/keras-2.11.0-py2.py3-none-any.whl
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
kiwisolver @ file:///croot/kiwisolver_1672387140495/work
langcodes @ file:///opt/conda/conda-bld/langcodes_1643477751144/work
libmambapy @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1680791035685/work/libmambapy
mamba @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1680791035685/work/mamba
MarkupSafe @ file:///opt/conda/conda-bld/markupsafe_1654597864307/work
matplotlib @ file:///croot/matplotlib-suite_1679593461707/work
matplotlib-inline==0.1.6
miniful @ file:///home/conda/feedstock_root/build_artifacts/miniful_1674206371364/work
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186066731/work
mkl-service==2.4.0
mpmath==1.2.1
munkres==1.1.4
murmurhash @ file:///opt/conda/conda-bld/murmurhash_1651237169273/work
nest-asyncio==1.5.5
networkx @ file:///croot/networkx_1678964333703/work
nltk @ file:///opt/conda/conda-bld/nltk_1645628263994/work
numexpr @ file:///croot/numexpr_1668713893690/work
numpy @ file:///croot/numpy_and_numpy_base_1682520569166/work
packaging @ file:///croot/packaging_1678965309396/work
pandas==1.4.1
parso==0.8.3
pathy @ file:///croot/pathy_1674585914374/work
patsy==0.5.3
pendulum==2.1.2
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pgcli==3.4.1
pgspecial==1.13.1
pickleshare==0.7.5
Pillow==9.4.0
plotly @ file:///tmp/abs_7afcdfad-dbbb-49d2-adea-186abf525c45jbnd8p95/croots/recipe/plotly_1658160053621/work
pluggy @ file:///tmp/build/80754af9/pluggy_1648024445381/work
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
preshed @ file:///opt/conda/conda-bld/preshed_1651240927559/work
prompt-toolkit==3.0.31
psutil==5.9.2
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval==0.2.2
pycosat @ file:///croot/pycosat_1666805502580/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///croot/pydantic_1686125708906/work
pydataset==0.2.0
pyFUME @ file:///home/conda/feedstock_root/build_artifacts/pyfume_1674509566653/work
Pygments==2.13.0
pyLDAvis @ file:///home/conda/feedstock_root/build_artifacts/pyldavis_1682732797915/work
pyOpenSSL @ file:///croot/pyopenssl_1677607685877/work
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-dateutil==2.8.2
python-Levenshtein @ file:///tmp/build/80754af9/python-levenshtein_1613985196167/work
pytz @ file:///croot/pytz_1671697431263/work
pytzdata==2020.1
PyYAML==6.0
pyzmq==23.2.1
regex @ file:///tmp/abs_41f5bce5-0a2e-45aa-b231-1fd2fbd57753gfpe6sjm/croots/recipe/regex_1658257178822/work
requests @ file:///croot/requests_1682607517574/work
ruamel.yaml @ file:///croot/ruamel.yaml_1666304550667/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1666302247304/work
safetensors==0.3.1
scikit-learn @ file:///croot/scikit-learn_1680198742267/work
scipy==1.10.1
seaborn @ file:///croot/seaborn_1673479180098/work
shellingham @ file:///croot/shellingham_1669142169426/work
simpful @ file:///home/conda/feedstock_root/build_artifacts/simpful_1683885330154/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open @ file:///opt/conda/conda-bld/smart_open_1651563547610/work
spacy @ file:///croot/spacy_1684329075418/work
spacy-legacy @ file:///croot/spacy-legacy_1684141107874/work
spacy-loggers @ file:///croot/spacy-loggers_1684138701730/work
sqlparse==0.4.2
srsly @ file:///croot/srsly_1677855537705/work
stack-data==0.5.0
statsmodels @ file:///croot/statsmodels_1676643798791/work
sympy @ file:///croot/sympy_1668202399572/work
TA-Lib @ file:///home/conda/feedstock_root/build_artifacts/ta-lib_1655667927909/work
tenacity @ file:///croot/tenacity_1682972284834/work
thinc @ file:///croot/thinc_1684243821484/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tokenizers==0.13.3
toolz @ file:///croot/toolz_1667464077321/work
torch==2.0.1
torch-geometric @ file:///usr/share/miniconda/envs/test/conda-bld/pyg_1679555606084/work
torchaudio==2.0.2
torchvision==0.15.2
tornado==6.2
tqdm @ file:///croot/tqdm_1679561862951/work
traitlets==5.4.0
transformers==4.30.1
triton==2.0.0
typer @ file:///opt/conda/conda-bld/typer_1651237163820/work
typing_extensions @ file:///croot/typing_extensions_1686601443660/work
urllib3 @ file:///croot/urllib3_1686163155763/work
wasabi @ file:///opt/conda/conda-bld/wasabi_1651237317563/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
wordcloud @ file:///home/conda/feedstock_root/build_artifacts/wordcloud_1684759966438/work
zipp @ file:///croot/zipp_1672387121353/work
zstandard @ file:///croot/zstandard_1677013143055/work
